@import "../../styles/_presets.scss";

.info_main-index {
  // margin-bottom: 16px;
  
  &__title {
    @include fst(font-size, 27px);
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    @include fst(margin-bottom, 24px);
  }
  &__content {
    @include fst(margin-bottom, 16px);  
  }
  &__content:nth-child(3) { margin-bottom: 0; }
}

.video-wrap { width: 100%;
  // @include fst(max-width, 480px);
  margin: 0 auto;
  @include fst(margin-bottom, 20px);
}

.info_main-index__video {
  max-width: 100%;
}

.text-indent {
  @include fst(text-indent, 16px);
}

.images { 
  @include row(); 
  justify-content: center;

  &__morning { 
    @include col();
    @include size(3);
    @include sizebp($bp5, 4);
    @include sizebp($bp3, 6);
    @include sizebp($bp1, 12);
  }
}  

.info2_main-index__title {
  @include fst(font-size, 24px);
    line-height: 1.25;
    font-weight: 600;
    text-align: center;
    @include fst(margin-bottom, 8px);
}