section.sidebar Sidebar
  h2 Sidebar-content
  .pic-w
    picture.pic #[+webp('morning1.webp', 'morning1.png', 'img')]
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo iusto temporibus sapiente ex ab 