.header { 
  width: 100%;
  @include fst(height, 64px);
  @include fst(padding-left, 16px);
  @include fst(padding-right, 16px);
  display: flex;
  align-items: center;
}
@import "../../../modules/blocks/nav/nav.scss";
@import "../../../modules/components/zooming/zooming.scss";