// Данный шаблон предназначен для разработки. Для того, чтобы он не попал в готовые файлы просто его переименовываем, добавляя перед именем нижнее подчёркивание.

@import "../../templates/#dev/dev.scss";