mixin navLink(link, name, active)
  li.nav__item
    if(target, active)
      a(href=link).nav__link.active=name
    else
      a(href=link).nav__link=name

nav.nav
  ul.nav__list
    +navLink('index.html', 'Home', 1)
    +navLink('example.html', 'Example')
    +navLink('404.html', 'About')